{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "umd",
        "targets": ">0.3%, not dead"
      }
    ],
    "@babel/preset-react",
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allExtensions": true
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-runtime", "minify-simplify"]
}
