{
  "assumptions": {
    "setSpreadProperties": true,
    "enumerableModuleMeta": true,
    "constantReexports": true,
    "pureGetters": true,
    "superIsCallableConstructor": true
  },
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
        "targets": ">0.3%, not dead"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": false,
        "helpers": true,
        "regenerator": true
      }
    ],
    "minify-simplify"
  ]
}
