{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["prettier"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "parser": "babel-eslint"
  },
  "plugins": ["react", "@typescript-eslint"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "VariableDeclarator": 2,
        "MemberExpression": 1,
        "FunctionDeclaration": {
          "body": 1,
          "parameters": 1
        },
        "FunctionExpression": {
          "body": 1,
          "parameters": 1
        },
        "CallExpression": { "arguments": 1 },
        "ArrayExpression": 1,
        "ObjectExpression": 1,
        "ImportDeclaration": 1,
        "flatTernaryExpressions": true
      }
    ],
    "array-bracket-newline": ["error", "consistent"],
    "brace-style": ["error", "1tbs"],
    "array-bracket-spacing": ["error", "never"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "arrow-parens": 0,
    "jsx-quotes": ["error", "prefer-double"],
    "no-var": "error",
    "@typescript-eslint/consistent-type-definitions": ["error", "interface"],
    "react/prop-types": 0,
    "react/display-name": 0
  }
}
