.alert-confirm-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  * {
    box-sizing: border-box;
  }
}

.alert-confirm-mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;

  &.alert-confirm-in {
    animation: fadeIn 200ms;

    .alert-confirm-main {
      animation: zoomIn 200ms;
    }
  }

  &.alert-confirm-out {
    animation: fadeOut 200ms;

    .alert-confirm-main {
      animation: zoomOut 200ms;
    }
  }
}

.alert-confirm-main {
  width: 380px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 26vh;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 90vw;
}

.alert-confirm-header {
  padding: 12px 12px 0;
  font-size: 18px;
  color: #000;
}

.alert-confirm-header-close {
  color: #aaa;
  cursor: pointer;
  line-height: 1;
  position: absolute;
  right: 10px;
  top: 8px;

  .icon {
    display: block;
    transition: color 0.3s;
    padding: 2px;

    &:hover {
      color: #ccc;
    }
  }
}

.alert-confirm-content {
  padding: 20px 12px;
  color: #333;
  font-size: 14px;
}

.alert-confirm-footer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 0 12px 12px;
  font-size: 12px;

  & > * {
    margin-left: 10px;
  }
}

.alert-confirm-button {
  border: 0;
  padding: 0 16px;
  line-height: 32px;
  cursor: pointer;
  color: #5c5c5c;
  border-radius: 3px;
  outline: none;
  background-color: #fff;
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s;
  box-shadow: 0 -2px 5px 0 rgba(223, 200, 241, 0.3),
    0 1px 0 0 rgba(223, 224, 241, 0.3), 0 1px 1px 0 rgba(162, 166, 191, 0.5),
    0 2px 4px 0 rgba(228, 229, 242, 0.2);

  &.default-button {
    &:hover {
      box-shadow: 0 -1px 10px 0 rgba(162, 166, 191, 0.2),
        0 2px 4px 0 rgba(162, 166, 191, 0.2),
        0 4px 5px 0 rgba(162, 166, 191, 0.1);
      color: #3ba4f9;
    }
  }

  &.primary-button {
    color: #fff;
    background: linear-gradient(135deg, #00adff, #0167ff);

    &:hover {
      box-shadow: 0 1px 10px 0 rgba(139, 162, 236, 0.2),
        0 2px 4px 0 rgba(86, 112, 216, 0.2), 0 4px 5px 0 rgba(71, 96, 196, 0.3);
    }
  }

  &.danger-button {
    background: linear-gradient(135deg, #e8787d, #f1232e);
    color: #fff;

    &:hover {
      box-shadow: 0 1px 10px 0 rgba(209, 129, 129, 0.2),
        0 2px 4px 0 rgba(221, 130, 130, 0.2), 0 4px 5px 0 rgba(206, 85, 85, 0.3);
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.6) translateY(-100px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: scale(0.6) translateY(-100px);
  }
}
