.alert-confirm-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;

  * {
    box-sizing: border-box;
  }
}

.alert-confirm-shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.alert-confirm-main {
  width: 360px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 30vh;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.alert-confirm-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.alert-confirm-header-title {
  font-size: 18px;
  color: #333;
}

.alert-confirm-header-close {
  color: #aaa;
  cursor: pointer;
  line-height: 1;

  .icon {
    display: block;
    transition: color 0.3s;

    &:hover {
      color: #CCC;
    }
  }
}

.alert-confirm-body {
  padding: 8px 10px;
  color: #666;
  font-size: 14px;
}

.alert-confirm-footer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 10px;

  &>* {
    margin-left: 10px;
  }
}

.alert-confirm-button {
  border: 0;
  padding: 0 16px;
  line-height: 32px;
  cursor: pointer;
  color: #5c5c5c;
  border-radius: 3px;
  outline: none;
  transition: box-shadow .3s cubic-bezier(.4,0,.2,1), color 0.3s;
  box-shadow: 0 -2px 5px 0 rgba(223,200,241,.3), 0 1px 0 0 rgba(223,224,241,.3), 0 1px 1px 0 rgba(162,166,191,.5), 0 2px 4px 0 rgba(228,229,242,.6);

  &:hover {
    box-shadow: 0 -1px 10px 0 rgba(162,166,191,.2), 0 2px 4px 0 rgba(162,166,191,.2), 0 4px 5px 0 rgba(162,166,191,.3);
    color: #3ba4f9;
  }

  &.primary {
    color: #fff;
    background: linear-gradient(135deg, #00adff, #0167ff);

    &:hover {
      box-shadow: 0 1px 10px 0 rgba(21,56,195,.2), 0 2px 4px 0 rgba(21,56,195,.2), 0 4px 5px 0 rgba(21,56,195,.3);
    }
  }
}

.fadeIn {
  animation: fadeIn 200ms;
}

.fadeOut {
  animation: fadeOut 200ms;
}

.zoomIn {
  animation: zoomIn 200ms;
}

.zoomOut {
  animation: zoomOut 200ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.6);
  }
}
